In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('SaYoPillow.csv')
df

         sr      rr       t      lm      bo     rem   sr.1     hr  sl
0    93.800  25.680  91.840  16.600  89.840   99.60  1.840  74.20   3
1    91.640  25.104  91.552  15.880  89.552   98.88  1.552  72.76   3
2    60.000  20.000  96.000  10.000  95.000   85.00  7.000  60.00   1
3    85.760  23.536  90.768  13.920  88.768   96.92  0.768  68.84   3
4    48.120  17.248  97.872   6.496  96.248   72.48  8.248  53.12   0
..      ...     ...     ...     ...     ...     ...    ...    ...  ..
625  69.600  20.960  92.960  10.960  90.960   89.80  3.440  62.40   2
626  48.440  17.376  98.064   6.752  96.376   73.76  8.376  53.44   0
627  97.504  27.504  86.880  17.752  84.256  101.88  0.000  78.76   4
628  58.640  19.728  95.728   9.728  94.592   84.32  6.728  59.32   1
629  73.920  21.392  93.392  11.392  91.392   91.96  4.088  63.48   2

[630 rows x 9 columns]

In [4]:
new_feature_names = ['snoring_rate', 'respiration_rate', 'body_temperature','limb_movement','blood_oxygen','eye_movement','sleeping_hours','heart_rate','stress_level']
df.columns = new_feature_names

In [5]:
df.isnull()

,snoring_rate,respiration_rate,body_temperature,limb_movement,blood_oxygen,eye_movement,sleeping_hours,heart_rate,stress_level
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
625,False,False,False,False,False,False,False,False,False
626,False,False,False,False,False,False,False,False,False
627,False,False,False,False,False,False,False,False,False
628,False,False,False,False,False,False,False,False,False
629,False,False,False,False,False,False,False,False,False

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   snoring_rate      630 non-null    float64
 1   respiration_rate  630 non-null    float64
 2   body_temperature  630 non-null    float64
 3   limb_movement     630 non-null    float64
 4   blood_oxygen      630 non-null    float64
 5   eye_movement      630 non-null    float64
 6   sleeping_hours    630 non-null    float64
 7   heart_rate        630 non-null    float64
 8   stress_level      630 non-null    int64
dtypes: float64(8), int64(1)
memory usage: 44.4 KB

In [7]:
from sklearn.model_selection import train_test_split
X = df.drop(['stress_level'],axis = 'columns')
y = df['stress_level']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 2)

In [11]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
X_train

,snoring_rate,respiration_rate,body_temperature,limb_movement,blood_oxygen,eye_movement,sleeping_hours,heart_rate
205,45.320,16.128,96.192,4.256,95.128,61.28,7.128,50.32
586,45.240,16.096,96.144,4.192,95.096,60.96,7.096,50.24
178,92.000,25.200,91.600,16.000,89.600,99.00,1.600,73.00
444,63.360,20.336,92.336,10.336,90.336,86.68,2.504,60.84
355,75.840,21.584,93.584,11.584,91.584,92.92,4.376,63.96
...,...,...,...,...,...,...,...,...
534,48.960,17.584,98.376,7.168,96.584,75.84,8.584,53.96
584,83.000,22.800,90.400,13.000,88.400,96.00,0.400,67.00
493,59.200,19.840,95.840,9.840,94.760,84.60,6.840,59.60
527,96.544,26.544,85.680,17.272,82.816,100.68,0.000,76.36
168,99.776,29.776,89.720,18.888,87.664,104.72,0.000,84.44

In [12]:
y_test

375    1
453    3
107    2
418    3
248    3
      ..
604    0
383    0
203    2
617    2
236    3
Name: stress_level, Length: 126, dtype: int64

In [10]:
X_test

,snoring_rate,respiration_rate,body_temperature,limb_movement,blood_oxygen,eye_movement,sleeping_hours,heart_rate
375,50.40,18.080,94.080,8.080,92.120,80.20,5.080,55.20
453,87.32,23.952,90.976,14.440,88.976,97.44,0.976,69.88
107,79.20,21.920,93.920,11.920,91.920,94.60,4.880,64.80
418,81.80,22.480,90.240,12.600,88.240,95.60,0.240,66.20
248,81.20,22.320,90.160,12.400,88.160,95.40,0.160,65.80
...,...,...,...,...,...,...,...,...
604,48.32,17.328,97.992,6.656,96.328,73.28,8.328,53.32
383,48.08,17.232,97.848,6.464,96.232,72.32,8.232,53.08
203,80.00,22.000,94.000,12.000,92.000,95.00,5.000,65.00
617,71.68,21.168,93.168,11.168,91.168,90.84,3.752,62.92
236,88.64,24.304,91.152,14.880,89.152,97.88,1.152,70.76

In [ ]:
model.fit(X_train,y_train)

In [ ]:
y_pred = model.predict(X_test)
print(y_pred)

In [ ]:
model.score(X_test,y_test)

In [ ]:
import pickle
with open('SAYO.pickle','wb') as f:
    pickle.dump(model,f)